# Import các thư viện cần thiết

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

D:\Anaconda\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Nội dung chính

## Thu thập dữ liệu

British Airways là một trong những hãng hàng không nổi tiếng nhất thế giới. Một trong những điều khiến British Airways trở nên nổi bật là dịch vụ khách hàng tuyệt vời của hãng trong hơn một thế kỷ. Hãng hàng không này đã được Skytrax bầu chọn là 'Hãng hàng không tốt nhất thế giới' trong 11 năm liên tiếp với dịch vụ khách hàng tuyệt vời, chỗ ngồi sang trọng, đồ ăn ngon và những chuyến bay đa dạng, không có gì ngạc nhiên khi có rất nhiều người bay cùng British Airways mỗi năm.

Nhằm mục đích nghiên cứu và tìm hiểu về chất lượng các chuyến bay của hãng hàng không British Airways nhằm giúp mọi người có những cái nhìn chân thực nhất về hãng hàng không này trước khi quyết định chọn hãng hàng không này cho những chuyến bay của mình, nhóm đã tiến hành thu thập dữ liệu về những đánh giá của khách hàng đã sử dụng dịch vụ của hãng và đánh giá chất chất lượng của hãng.

![Ảnh](Image/Gioi-thieu-ve-hang-hang-khong-British-Airways.jpg)

Dữ liệu được thu thập thông qua trang [Kaggle](https://www.kaggle.com/datasets/chaudharyanshul/airline-reviews/data?fbclid=IwAR1t8P51aQ9gY10-pwClg3efMIJ3mz9E3tYCtZcPUUK3mnT8hSV_1VPVzaI_aem_AaEggDeQo9yxzHHYHOpKhd0qQMOZGcPtTOORgqts-kwZbtbNOLA4f3Co37hc3KSfSEGdO4TT9-7FXfOhqkjUusRD). Nhóm chọn bộ dữ liệu này vì đây là bộ dữ liệu cập nhật nhất và được đánh giá tốt trên trang Kaggle.

Dữ liệu này được tác giả thu thập thông qua trang [AirlineQuality](https://www.airlinequality.com/) bằng cách rút trích nội dung được cung cấp trên trang web.


Chú ý rằng, dữ liệu có giấy phép MIT, vì vậy ta được phép sử dụng bộ dữ liệu này cho mục đích học tập.

---

## Khám phá dữ liệu

### Đọc dữ liệu từ file csv vào dataframe

In [2]:
df = pd.read_csv("Data/BA_AirlineReviews.csv", index_col=[0])

In [3]:
df.head()

,OverallRating,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment,Wifi&Connectivity
0,1.0,"""Service level far worse then Ryanair""",L Keele,19th November 2023,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,London to Stuttgart,23-Nov,1.0,1.0,1.0,1.0,no,NaN,NaN,NaN,NaN
1,3.0,"""do not upgrade members based on status""",Austin Jones,19th November 2023,True,I recently had a delay on British Airways from...,Business,Economy Class,Brussels to London,23-Nov,2.0,3.0,1.0,2.0,no,A320,1.0,2.0,2.0
2,8.0,"""Flight was smooth and quick""",M A Collie,16th November 2023,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,London Heathrow to Dublin,23-Nov,3.0,3.0,4.0,3.0,yes,A320,4.0,NaN,NaN
3,1.0,"""Absolutely hopeless airline""",Nigel Dean,16th November 2023,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,London to Dublin,22-Dec,3.0,3.0,1.0,1.0,no,NaN,NaN,NaN,NaN
4,1.0,"""Customer Service is non existent""",Gaylynne Simpson,14th November 2023,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,London to Lisbon,23-Nov,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0,1.0

### Dữ liệu gồm bao nhiều dòng, bao nhiêu cột?

In [4]:
num_rows = df.shape[0]
num_cols = df.shape[1]
print('Số dòng: ', num_rows)
print('Số cột: ', num_cols)

Số dòng:  3701
Số cột:  19

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng tương ứng với thông tin về đánh giá của từng khách hàng về chất lượng hãng hàng không British Airways. 

Có vẻ như không xảy ra các dòng có ý nghĩa khác nhau

### Dữ liệu có các dòng bị lặp không?

In [5]:
duplicated_rows =  df.duplicated().sum()
if duplicated_rows > 0:
    print("Số dòng lặp: ", duplicated_rows)
else:
    print("Không có dòng lặp")

Số dòng lặp:  7

Có 7 dòng bị lặp nên ta sẽ tiến hành xóa các dòng đó

In [6]:
df = df.drop_duplicates()

### Mỗi cột có ý nghĩa gì?

|Tên cột| Mô tả |
|:-:| :--|
|**OverallRating**| Đánh giá tổng thể do khách hàng đưa ra |
|**ReviewHeader**| Tiêu đề đánh giá của khách hàng |
|**Name**| Tên của khách hàng đánh giá |
|**Datetime**| Ngày đánh giá được đăng tải |
|**VerifiedReview**| Cho biết đánh giá có được xác minh hay không  |
|**ReviewBody**| Nội dung chi tiết về đánh giá của khách hàng |
|**TypeOfTraveller**| Loại khách hàng (ví dụ: Kinh doanh, Gia đình) |
|**SeatType**| Hạng của hành khách (ví dụ: Thương gia, Phổ thông) |
|**Route**| Đường bay |
|**DateFlown**| Ngày khởi hành chuyến bay |
|**SeatComfort**| Đánh giá mức độ thoải mái của ghế |
|**CabinStaffService**| Đánh giá về nhân viên cabin |
|**GroundService**| Đánh giá về dịch vụ mặt đất |
|**ValueForMoney**| Đánh giá về chất lương tương xứng với giá tiền |
|**Recommended**| Liệu khách hàng có đề xuất cho British Airways hay không |
|**Aircraft**| Máy bay được sử dụng cho chuyến bay |
|**Food&Beverages**| Đánh giá về thực phẩm và đồ uống |
|**InflightEntertainment**| Đánh giá về dịch vụ giải trí trên chuyến bay |
|**Wifi&Connectivity**| Đánh giá về wifi và khả năng kết nối trên chuyến bay |

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

Giờ chúng ta tiến hành xem qua kiểu dữ liệu của các cột nhằm phát hiện cột có kiểu dữ liệu chưa phù hợp

In [7]:
df.dtypes

OverallRating            float64
ReviewHeader              object
Name                      object
Datetime                  object
VerifiedReview              bool
ReviewBody                object
TypeOfTraveller           object
SeatType                  object
Route                     object
DateFlown                 object
SeatComfort              float64
CabinStaffService        float64
GroundService            float64
ValueForMoney            float64
Recommended               object
Aircraft                  object
Food&Beverages           float64
InflightEntertainment    float64
Wifi&Connectivity        float64
dtype: object

Ta cần chuyển cột `Datetime` và `DateFlown` sang kiểu dữ liệu `datetime`

In [8]:
df['Datetime'] = pd.to_datetime(df['Datetime'])
df['DateFlown'] = pd.to_datetime(df['DateFlown'] + '-' + pd.to_datetime(df['Datetime']).dt.year.astype(str), format='%d-%b-%Y')

Cùng kiểm tra lại bộ dữ liệu sau khi xử lý

In [9]:
df.head()

,OverallRating,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment,Wifi&Connectivity
0,1.0,"""Service level far worse then Ryanair""",L Keele,2023-11-19,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,London to Stuttgart,2023-11-23,1.0,1.0,1.0,1.0,no,NaN,NaN,NaN,NaN
1,3.0,"""do not upgrade members based on status""",Austin Jones,2023-11-19,True,I recently had a delay on British Airways from...,Business,Economy Class,Brussels to London,2023-11-23,2.0,3.0,1.0,2.0,no,A320,1.0,2.0,2.0
2,8.0,"""Flight was smooth and quick""",M A Collie,2023-11-16,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,London Heathrow to Dublin,2023-11-23,3.0,3.0,4.0,3.0,yes,A320,4.0,NaN,NaN
3,1.0,"""Absolutely hopeless airline""",Nigel Dean,2023-11-16,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,London to Dublin,2023-12-22,3.0,3.0,1.0,1.0,no,NaN,NaN,NaN,NaN
4,1.0,"""Customer Service is non existent""",Gaylynne Simpson,2023-11-14,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,London to Lisbon,2023-11-23,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0,1.0

### Sự phân bố giá trị của mỗi cột

#### Với mỗi cột có kiểu dữ liệu dạng numeric, các giá trị được phân bố như thế nào?

Với các cột có kiểu dữ liệu số, ta tính:

- Tỉ lệ % (từ 0 đến 100) các giá trị thiếu
- Giá trị min
- Giá trị lower quartile (phân vị 25)
- Giá trị median (phân vị 50)
- Giá trị upper quartile (phân vị 75)
- Giá trị max

Nhóm sẽ lưu kết quả vào DataFrame `num_col_info_df`, trong đó:
- Tên các cột là tên các cột số trong `raw_df`
- Tên các hàng: “missing_ratio”, “min”, “low_quartile”, “median”, “upper_quartile”, “max”

Để dễ quan sát, nhóm làm tròn tất cả các giá trị đến 1 chữ số thập phân bằng phương thức `.round(1)`.

In [10]:
num_col_info_df = None

# Define missing ratio
def missing_ratio(series):
    percentage = series.isna().sum() / len(series)
    return percentage.round(1)

# Define lower quartile
def lower_quartile(series):
    return series.quantile(0.25).round(1)

# Define upper quartile
def upper_quartile(series):
    return series.quantile(0.75).round(1)

#Define median
def median(series):
    return series.quantile(0.75).round(1)

num_col_info_df = df.select_dtypes(include=['int64', 'float64'])

num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

num_col_info_df

,OverallRating,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Food&Beverages,InflightEntertainment,Wifi&Connectivity
missing_ratio,0.0,0.0,0.0,0.2,0.0,0.1,0.3,0.8
min,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
lower_quartile,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0
median,8.0,4.0,5.0,4.0,4.0,4.0,4.0,3.0
upper_quartile,8.0,4.0,5.0,4.0,4.0,4.0,4.0,3.0
max,10.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0

**Nhận xét**: Các cột có giá trị thiếu là: `GroundService`, `Food&Beverage`, `InflightEntertainment`, `Wifi&Connectivity`. Trong đó `Wifi&Connectivity` có tỉ lệ thiếu khá cao (80%) trong khi các cột còn lại có tỉ lệ thiếu khá thấp, trong mức chấp nhận được.

Sau khi xác định các giá trị thống kê cơ bản mô tả dữ liệu, chúng ta cần xác định thêm các thuộc tính có nhiều giá trị bị thiếu. Các thuộc tính như vậy không hữu ích cho giai đoạn phân tích và cần được xóa khỏi tập dữ liệu.

Tùy thuộc vào quy ước của mỗi người, ngưỡng "lớn" có thể được xác định. Thông thường, nếu tỷ lệ phần trăm giá trị bị thiếu lớn hơn 75%, cột đó sẽ bị loại khỏi dữ liệu.

In [11]:
def drop_missing_features(df: pd.DataFrame, missing_lst: dict = dict(num_col_info_df.iloc[0]), threshold: float = 75.0) -> pd.DataFrame:
    """Drop missing features from Pandas dataframe base on given threshold.

    Args:
        df (pd.DataFrame): Input dataframe for processing.
        missing_lst (dict, optional): Dict missing value rate which calculated from previous stage. Defaults to dict(num_col_info_df.iloc[0]).
        threshold (float, optional): User threshold for dropping. Defaults to 75.0.

    Returns:
        pd.DataFrame: Updated dataframe
    """
    # YOUR CODE HERE
    for key, value in missing_lst.items():
        if value > (threshold/100):
            del df[key]
    return df

In [12]:
df = drop_missing_features(df)

In [13]:
df.head()

,OverallRating,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment
0,1.0,"""Service level far worse then Ryanair""",L Keele,2023-11-19,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,London to Stuttgart,2023-11-23,1.0,1.0,1.0,1.0,no,NaN,NaN,NaN
1,3.0,"""do not upgrade members based on status""",Austin Jones,2023-11-19,True,I recently had a delay on British Airways from...,Business,Economy Class,Brussels to London,2023-11-23,2.0,3.0,1.0,2.0,no,A320,1.0,2.0
2,8.0,"""Flight was smooth and quick""",M A Collie,2023-11-16,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,London Heathrow to Dublin,2023-11-23,3.0,3.0,4.0,3.0,yes,A320,4.0,NaN
3,1.0,"""Absolutely hopeless airline""",Nigel Dean,2023-11-16,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,London to Dublin,2023-12-22,3.0,3.0,1.0,1.0,no,NaN,NaN,NaN
4,1.0,"""Customer Service is non existent""",Gaylynne Simpson,2023-11-14,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,London to Lisbon,2023-11-23,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0

Sau khi xóa các thuộc tính có giá trị bị thiếu lớn, bộ dữ liệu của chúng ta vẫn còn các giá trị bị thiếu. Vì vậy, chúng ta cần điền những giá trị còn thiếu này để có thể sử dụng trong phân tích. Trong trường hợp này, vì đánh giá là số nguyên từ 1-5 nên nhóm sẽ chọn điền vào các giá trị thiếu bằng trung vị (median)

In [14]:
def filling_missing_value(df: pd.DataFrame) -> pd.DataFrame:
    """Filling missing features from Pandas dataframe
    
    The first, you need to replace all None values with NaN, fillna only works on nans.
    
    After that, you replace all NaN values with the median of the column values.

    Args:
        df (pd.DataFrame): Input dataframe for processing.

    Returns:
        pd.DataFrame: Updated dataframe
    """
    # YOUR CODE HERE
    # Replace all None values with NaN
    df = df.replace('None', np.nan)
    
    # Replace all NaN values with the mean of the column values.
    for keys in df.keys():
        if df[keys].dtypes != 'float64':
            continue
        df[keys] = df[keys].fillna(df[keys].median())
    return df

In [15]:
df = filling_missing_value(df)

In [16]:
df.head()

,OverallRating,ReviewHeader,Name,Datetime,VerifiedReview,ReviewBody,TypeOfTraveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommended,Aircraft,Food&Beverages,InflightEntertainment
0,1.0,"""Service level far worse then Ryanair""",L Keele,2023-11-19,True,4 Hours before takeoff we received a Mail stat...,Couple Leisure,Economy Class,London to Stuttgart,2023-11-23,1.0,1.0,1.0,1.0,no,NaN,3.0,3.0
1,3.0,"""do not upgrade members based on status""",Austin Jones,2023-11-19,True,I recently had a delay on British Airways from...,Business,Economy Class,Brussels to London,2023-11-23,2.0,3.0,1.0,2.0,no,A320,1.0,2.0
2,8.0,"""Flight was smooth and quick""",M A Collie,2023-11-16,False,"Boarded on time, but it took ages to get to th...",Couple Leisure,Business Class,London Heathrow to Dublin,2023-11-23,3.0,3.0,4.0,3.0,yes,A320,4.0,3.0
3,1.0,"""Absolutely hopeless airline""",Nigel Dean,2023-11-16,True,"5 days before the flight, we were advised by B...",Couple Leisure,Economy Class,London to Dublin,2023-12-22,3.0,3.0,1.0,1.0,no,NaN,3.0,3.0
4,1.0,"""Customer Service is non existent""",Gaylynne Simpson,2023-11-14,False,"We traveled to Lisbon for our dream vacation, ...",Couple Leisure,Economy Class,London to Lisbon,2023-11-23,1.0,1.0,1.0,1.0,no,NaN,1.0,1.0

Cùng kiểm tra lại dữ liệu sau khi xử lý giá trị thiếu

In [17]:
df.select_dtypes(include=['int64', 'float64']).agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

,OverallRating,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Food&Beverages,InflightEntertainment
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,1.0,1.0,1.0,1.0,1.0,1.0
lower_quartile,2.0,2.0,2.0,2.0,1.0,1.0,2.0
median,8.0,4.0,5.0,4.0,4.0,4.0,3.0
upper_quartile,8.0,4.0,5.0,4.0,4.0,4.0,3.0
max,10.0,5.0,5.0,5.0,5.0,5.0,5.0

#### Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào?

Với các cột có kiểu dữ liệu dạng `categorical`, ta cần tính:

- Tỉ lệ % (từ 0 đến 100) các giá trị thiếu
- Số lượng các giá trị khác nhau (không xét giá trị thiếu)
- Tỉ lệ % (từ 0 đến 100) của mỗi giá trị được sort theo tỉ lệ % giảm dần (không xét giá trị thiếu)

Chúng ra sẽ lưu kết quả vào DataFrame `cat_col_info_df`, trong đó:
- Tên các cột là tên các cột không phải số trong `raw_df`
- Tên các dòng là: “missing_ratio”, “num_values”, “value_ratios”

Để tiện quan sát, chúng ta làm tròn tất cả các giá trị đến 1 chữ số thập phân bằng phương thức `.round(1)`.

In [18]:
pd.set_option('display.max_colwidth', 100) # For clearly
pd.set_option('display.max_columns', None) # For clearly

In [19]:
cat_col_info_df = df.select_dtypes(include='object')

# Define num values
def num_values(series):
    return len(series.dropna().unique())

# Define value ratios
def value_ratios(series):
    value_counts = series.dropna().value_counts()
    percentages = (value_counts / len(series))*100
    percentages = percentages.round(1)
    sorted_percentages = percentages.sort_values(ascending=False)
    return sorted_percentages.to_dict()
cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,ReviewHeader,Name,ReviewBody,TypeOfTraveller,SeatType,Route,Recommended,Aircraft
missing_ratio,0.0,0.0,0.0,0.2,0.0,0.2,0.0,0.5
num_values,2684,2906,3692,4,4,1590,2,202
value_ratios,"{'British Airways customer review': 25.7, '""never fly British Airways again""': 0.2, '""an excelle...","{'David Ellis': 1.1, 'Clive Drake': 0.9, 'E Smyth': 0.8, 'R Vines': 0.4, 'Richard Hodges': 0.4, ...",{'London Heathrow to Miami on one of British Airways crummy Boeing 747s. Originally Booked WT Pl...,"{'Couple Leisure': 27.1, 'Solo Leisure': 24.1, 'Business': 17.4, 'Family Leisure': 10.8}","{'Economy Class': 52.1, 'Business Class': 32.3, 'Premium Economy': 9.7, 'First Class': 5.8}","{'London to Johannesburg': 0.5, 'Johannesburg to London': 0.4, 'London to Hong Kong': 0.4, 'Cape...","{'no': 59.6, 'yes': 40.4}","{'A320': 9.9, 'Boeing 777': 7.4, 'Boeing 747-400': 4.9, 'A380': 4.5, 'Boeing 777-200': 3.4, 'A31..."

**Nhận xét**: Các cột có giá trị thiếu là: `TypeOfTraveller	`, `Route`, `Aircraft`. Tỉ lệ thiếu của cột `Aircraft` khá cao nhưng vẫn chấp nhận được. Với các cột bị thiếu này, nhóm quyết định sẽ không điền vào các giá trị thiếu bởi đây là các thông tin không quá quan trọng và khả năng tiếp cận với thông tin chính xác cho những cột này là rất thấp.

### Dữ liệu được thu thập có hợp lệ không?

Chúng ta có một thắc mắc liệu rằng số liệu thu thập được có hợp lý hay không? Ví dụ như các đánh giá (trừ OverallRating) có là số nguyên từ 1-5?

In [20]:
for column in df.select_dtypes(include='number'):
    # Sử dụng all() để kiểm tra xem tất cả các giá trị đều nằm trong khoảng từ 1 đến 5 hay không
    if column == 'OverallRating':
        continue
    is_within_range = df[column].between(1, 5, inclusive=True).all()
    print(f"Cột {column}: {'Các số liệu nằm trong khoảng từ 1 đến 5' if is_within_range else 'Có số liệu nằm ngoài khoảng từ 1 đến 5'}")

Cột SeatComfort: Các số liệu nằm trong khoảng từ 1 đến 5
Cột CabinStaffService: Các số liệu nằm trong khoảng từ 1 đến 5
Cột GroundService: Các số liệu nằm trong khoảng từ 1 đến 5
Cột ValueForMoney: Các số liệu nằm trong khoảng từ 1 đến 5
Cột Food&Beverages: Các số liệu nằm trong khoảng từ 1 đến 5
Cột InflightEntertainment: Các số liệu nằm trong khoảng từ 1 đến 5

C:\Users\KEN\AppData\Local\Temp\ipykernel_27412\255307942.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  is_within_range = df[column].between(1, 5, inclusive=True).all()

Như vậy dữ liệu của chúng ta đã ổn. Bây giờ ta sẽ lưu lại dữ liệu sau khi đã tiền xử lý.

In [22]:
save_name = "BA_Reviews_processed.csv"
df.to_csv("Data/" + save_name, index=False)